.homeWrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(43, 43, 43);
}

.circle {
    background-color: #ea909d;
    border-radius: 30px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.homeWrapper :hover {
    box-shadow: 0 0 10px 2px rgba(255, 105, 180, 0.7);
    animation: glowPulse 5s ease-in-out infinite;
}
.catIcon {
    font-size: 5rem;
    color: black;
    cursor: pointer;
}